[setting]
user=root
listen=tender-wlc,tender-bb
log=/home/gouling/Documents/wb_cc/trunk/Log/tender

[tender-wlc]
name=微理财
desc=匹配服务
work=/home/gouling/Documents/wb_cc/trunk/tender
service=/usr/share/php-7.2.7/bin/php index.php tender/wlc

[tender-bb]
name=宝宝
desc=匹配服务
work=/home/gouling/Documents/wb_cc/trunk/tender
service=/usr/share/php-7.2.7/bin/php index.php tender/bb
